{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Course Code (e.g. COMP-360)</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Course Information in Following Format: term,phone-number (e.g. fall 2017,123-123-4567)</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
